body{
  font-family: 'Trebuchet MS', sans-serif;
}

h2{
  padding-top: 30px;
  text-align: center;  
}

#cont1{
  margin:30px;
  padding-left: 100px;
}

.degree{
  opacity:0.7;
}

.institution{
  opacity:0.6;
}

.time{
  color:darkslategray;
  font-weight: bold;
}

.w3-tag{
  background-color: darkslategray;
}

.skill{
  margin:35px;
  padding-left: 10px;
  font-weight: bold;
  font-size: medium;
}

#java{
  margin-bottom: 30px;
  background-color:darkslategray
}

#html{
  margin-bottom: 30px;
  background-color:darkslategray
}

#python{
  margin-bottom: 30px;
  background-color:darkslategray
}

#angular{
  margin-bottom: 30px;
  background-color:darkslategray
}